@model IEnumerable<DbFirst.Entities.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>
 
<table id="tblOrders" class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.Guid  })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" >
    $(document).ready(function () { 
        var table = $('#tblOrders').dataTable( {
            filter: true,
            paging: false,
        });
    });
</script>
